@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F8F3EC;
  --fg: #2E2E2E;
  --cream: #FFE8D6;
  --olive: #6B705C;
  --sage: #A5A58D;
  --nude: #DDBEA9;
  --indigo: #3D405B;
}

.dark {
  --bg: #2E2E2E;
  --fg: #FFE8D6;
}
