@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F3EFE6;
  --fg: #2B231B;
  --cream: #E7DCC7;
  --olive: #6F6A4A;
  --sage: #A5B19D;
  --nude: #C8A689;
  --indigo: #433730;
}

.dark {
  --bg: #2B231B;
  --fg: #F3EFE6;
}
